@model IEnumerable<NASAWebApp.AppModels.SearchHistory>

@{
    ViewData["Title"] = "SearchHistory";
}

<h1>SearchHistory</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SearchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchDate)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SearchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchDate)
            </td>
            
        </tr>
}
    </tbody>
</table>
