 @model List<NASAWebApp.Models.NasaSearch.NasaItem>

@{
    ViewData["Title"] = "Search NASA Assets";
    List<string> searchHistories = ViewBag.SearchHistories;
}

<h1>@TempData["Message"]</h1>

<form method="post">
    Search anything in NASA (Ex. Launch, Mission, etc)
    @*   <input type="text" name="searchKey" value="@ViewBag.SearchKey" /> *@
    <input list="searchHistory" id="searchKey" name="searchKey" placeholder="Type or select..." autocomplete="off" />

    <datalist id="searchHistory">
        @if (searchHistories != null && searchHistories.Count > 0)
        {
            foreach (var search in searchHistories)
            {
                <option value="@search"></option>
            }
        }
    </datalist>

    <input type="submit" value="Search" /> &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="d-flex gap-2">
        <a href="/NASA/Search?clearSearch=true" class="btn btn-danger">Clear Search History</a>
        <a href="/NASA/SearchHistory" class="btn btn-primary">View Your Search History</a>
    </div>
</form>

<h2>@ViewBag.Error</h2>

@if (ViewBag.SearchKey != null)
{
    <h1>@ViewData["Title"]</h1>

    if (Model == null || !Model.Any())
    {
        <p>No data available.</p>
    }
    else
    {
        <div class="image-gallery">
            @{
                int count = 0;
            }
            @foreach (var item in Model)
            {

                foreach (var data in item.Data)
                {

                    @if (data != null)
                    {
                        count++;
                        <div class="image-card">
                            <h2>@data.Title</h2>
                            <p><strong>Photographer:</strong> @data.Photographer</p>
                            <p><strong>Location:</strong> @data.Location</p>
                            <p><strong>Description:</strong> @data.Description</p>
                            @if (data.Keywords != null)
                            {
                                <p><strong>Keywords:</strong> @string.Join(", ", data.Keywords)</p>
                            }

                            <p>
                                <strong>Asset Details:</strong>  <a href="/NASA/AssetDetails?nasaId=@data.NasaId">Click For Details</a>
                            </p>

                            @if (item.Links != null && item.Links.Any())
                            {
                                <img src="@item.Links[0].Href" alt="@data.Title" class="preview-image" />
                            }

                            <hr />
                        </div>
                    }
                }
            }
            <h3>Total records returned: @count</h3>
            <a href="/NASA/DownloadResult?searchKey=@ViewBag.SearchKey">Download Result</a>
        </div>
    }
}